html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}
#map {
    height: 100%;
    width: 100%;
    margin: auto;
}
.leaflet-control-layers,
.leaflet-bar,
.leaflet-bar a:first-child,
.leaflet-bar a:last-child,
.leaflet-popup-content-wrapper,
.panel,
.form-control,
.alert,
.btn {
    border-radius: 0px;
}
.leaflet-control-layers-expanded {
    padding-right: 6px;
}
.ac-container input.menu:checked + label,
.ac-container input.menu:checked + label:hover {
    background: #27ae60 none repeat scroll 0 0 !important;
    color: white;
    text-shadow: none;
    box-shadow: none;
}
.leaflet-control-locate a {
    padding: 0;
}
.leaflet-control-fullscreen-button {
    background-position: 0 0 !important;
}
.ac-large {
    max-height: 150px !important;
}
.sidebar-header,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,
.sidebar-tabs>li.active,
.sidebar-tabs>ul>li.active {
    background-color: #27ae60;
}
a {
    color: #27ae60;
}
a:hover {
    color: #1f8a4c;
}
.spacer {
    margin-top: 20px;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
