html,body {
	padding: 0;
	margin: 0;
	height:100%;
}

#map {
	height: 100%;
	width: 100%;
	margin: auto;
}

.leaflet-control-layers,.leaflet-bar, .leaflet-bar a:first-child, .leaflet-bar a:last-child {
    border-radius: 0px;
}

.leaflet-control-layers-expanded {
    padding-right:6px;
}

.ac-container input.menu:checked + label, .ac-container input.menu:checked + label:hover {
    background: #b7deb7 none repeat scroll 0 0 !important;
}

.leaflet-control-locate a {
	padding:0;
}

.leaflet-control-fullscreen-button {
	background-position:0 0 !important;
}